# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
*.tmp
*.log

# Archives / exports
*.zip
*.rar
*.7z
*.tar
*.gz
